<div class="container">
  <div class="row">
    <div class="col border rounded-2">
      <% @articles.each do |article| %>
        <h6><%= article.title %></h6>
        <p><%= article.content %></p>
      <% end %>
    </div>
  </div>
</div>