<div class="bg-turquoise">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-6 pe-3">
        <h1><strong>OTAKUZ</strong></h1>
        <h5>Find all the summaries to any mangas written by y'all otakuz for us otakuz</h5>
      </div>
      <div class="col-6">
        <%= cl_image_tag("vyc6uriesoxaremdf1r0") %>
      </div>
    </div>
  </div>
</div>