<div class="bg-turquoise">
  <div class="container">
    <div class="row align-items-center py-5">
      <div class="col-6 pe-3">
        <h1><strong>OTAKUZ</strong></h1>
        <h5>Find all the summaries to any mangas written by y'all otakuz for us otakuz</h5>
      </div>
      <div class="col-6">
        <img src="https://res.cloudinary.com/laura-latuillerie/image/upload/v1663772622/vyc6uriesoxaremdf1r0.gif">
      </div>
    </div>
  </div>
</div>