// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

body{
  background-color: white;
}

.bg-turquoise{
  background: rgb(136,206,196);
  background: linear-gradient(180deg, rgba(136,206,196,1) 0%, rgba(255,255,255,0) 100%);
}

.obj-fit{
  object-fit: cover;
}

.uplifted{
  position: relative;
  top: -30px;
}

.pb-lg{
  padding-bottom: 75px;
}